@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);
body {
  font-family: "Helvetica Neue", Helvetica, "Open Sans", sans-serif;
  font-weight: 300;
  background-color: #ffffff;
  min-height: 100%;
}
.home {
  background-image: url("../images/logo-retina@2x.png");
  background-position: center ;
  background-repeat: no-repeat;
  background-size: 220px 220px;
  min-height: 240px;
  text-align: center;
}
.name {
  margin-top: 10px;
  margin-bottom: 110px;
}
.name p {
  font-family: "Oswald", "Open Sans", sans-serif;
  font-size: 5em;
  color: #595959;
  letter-spacing: 5px;
}
.name p strong {
  color: #3f8eea;
}
.name small {
  font-weight: 100;
  font-size: 2em;
  color: #AAA;
  letter-spacing: 3px;
}
.tag-title {
  color: #8D8D8D;
  font-weight: 100;
  font-size: 4em;
}
.bordered {
  margin-right: 20px;
}
.post-list {
  margin-top: 10px;
}
.post {
  margin: 0px;
  padding-right: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 1000px;
}
.post-full {
  margin: auto;
}
.post-title {
  color: #595959;
  font-size: 3em;
  font-weight: 300;
}
.post-subtitle {
  margin-bottom: 5px;
}
.post-content {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  color: #4d4e53;
  font-size: 16px;
}
.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6,
.post-content .h1,
.post-content .h2,
.post-content .h3,
.post-content .h4,
.post-content .h5,
.post-content .h6 {
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
.post-summary em {
  color: #444444;
}
.post-summary p {
  font-size: 1.5em;
  color: #50585D;
}
.blog-logo img {
  min-height: 200px;
}
.col-xs-12 .name {
  padding-left: 20px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.col-xs-12 .name p {
  line-height: 70px;
}
.col-xs-12 .content {
  padding: 15px;
}
.boxybutton {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
}
.boxybutton a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-normal {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background-color: #edecec;
  box-shadow: 5px 5px 0px 0px #336699, 10px 10px 0px 0px #b1b1b1;
}
.boxybutton-normal a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-normal:hover {
  box-shadow: 5px 5px 0px 0px #aeabab, 10px 10px 0px 0px #336699;
}
.boxybutton-blue {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background-color: #3f8eea;
  box-shadow: 5px 5px 0px 0px #0257ad, 10px 10px 0px 0px #64ceff, 15px 15px 0px 0px #b2d2f7;
  color: #FFF;
}
.boxybutton-blue a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-blue:hover {
  background-color: #6da9ef;
  box-shadow: 5px 5px 0px 0px #64ceff, 10px 10px 0px 0px #0257ad;
}
.boxybutton-blue a {
  color: #fff;
}
.boxybutton-light {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background: #EFEFEF;
  box-shadow: 5px 5px 0px #DDD, 10px 10px 0px #eee, 15px 15px 0px #efefef;
}
.boxybutton-light a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-red {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background-color: #ba4343;
  box-shadow: 5px 5px 0px 0px #822f2f, 10px 10px 0px 0px #d68d8d, 15px 15px 0px 0px #e3b3b3;
  color: #FFF;
}
.boxybutton-red a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-green {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background-color: #8c8f8e;
  box-shadow: 5px 5px 0px 0px #049f58, 10px 10px 0px 0px #05ea81, 15px 15px 0px 0px #41fba6;
  color: #FFF;
}
.boxybutton-green a {
  font-size: 1.5em;
  font-weight: 100;
}
.boxybutton-green a {
  color: #fff;
}
.boxybutton-green:hover {
  box-shadow: 5px 5px #05ea81,10px 10px #41fba6, 15px 15px 0px 0px #90FFCC;
  background: #8c8f8e;
}
.boxybutton-gray {
  padding: 3px 10px 5px 10px;
  background-color: #CCC;
  margin-right: 10px;
  background-color: #8c8f8e;
  box-shadow: 5px 5px 0 0 #B4B4B4,10px 10px 0 0 #C9C9C9,15px 15px 0 0 #DFDFDF;
}
.boxybutton-gray a {
  font-size: 1.5em;
  font-weight: 100;
}
.shout {
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 7px;
  font-weight: 100;
}
.shoutout {
  background-color: #76837d;
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 7px;
  font-weight: 100;
}
.shoutout-red {
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 7px;
  font-weight: 100;
  font-size: 2em;
}
.shoutout-blue {
  font-size: 1.5em;
  margin: auto;
  margin-bottom: 7px;
  font-weight: 100;
}
.shoutout-gray {
  margin: auto;
  margin-bottom: 7px;
  font-weight: 100;
  background: #e6e6e6;
  font-size: 1.5em;
}
.sidelinks li a {
  text-decoration: none;
}
.sidelinks {
  margin-top: 10px;
}
.sidelinks li {
  display: inline-block;
}
.sidelinks li a {
  color: #084e8a;
  font-size: 0.8em;
}
.sidelinks span {
  margin-right: 25px;
}
hr {
  border-color: #CCC;
}
.aboutbox {
  padding-left: 25px;
  padding-top: 10px;
}
